<form class="hotels-form" (ngSubmit)="getHotels()">
  <div class="hotels-form__label">Choose dates</div>
  <input class="hotels-form__date" name="dateIn" [(ngModel)]="dateIn" type="date" required>
  <input class="hotels-form__date" name="dateOut" [(ngModel)]="dateOut" type="date" required>
  <button class="hotels-form__button" type="submit">Find hotels</button>
</form>

<div class="hotels" *ngIf="getdata()">
    <div *ngFor="let item of getdata().search">
      <app-hotel [hotel]="item"></app-hotel>
    </div>
</div>
