<div class="hotel">
  <img class="hotel__item _img" [src]='(hotel.info.img | ImagePathPipe)'>
  <div class="hotel__item _info">
    <div class="hotel__description">{{hotel.info.name}}</div>
    <div class="hotel__description" [ngClass]="generateStars(hotel.info.cat)"></div>
    <div class="hotel__description">Address: {{hotel.info.addr}}</div>
  </div>

  <div class="hotel__item _price">
    <div *ngFor="let i of hotel.items">
      <div *ngFor="let j of i">
        <div class="hotel__price" *ngIf="j.commerce.discount === 0">{{j.commerce.payment}}</div>
        <div class="hotel__price-wrapper" *ngIf="j.commerce.discount !== 0">
          <div class="hotel__price _discount">
            {{j.commerce.payment}}
          </div>
          <div class="hotel__price">{{j.commerce.tpayment}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
