.hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc47;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
}

.hotel__item._img {
  max-width: 350px;
}
.hotel__price {
  text-align: right;
}

.hotel__price._discount {
  text-decoration: line-through;
}

.hotel__description._3-stars::before {
  content: '⭐⭐⭐';
}

.hotel__description._4-stars::before {
  content: '⭐⭐⭐⭐';
}

.hotel__description._5-stars::before {
  content: '⭐⭐⭐⭐⭐';
}
